@model Hostele.ViewModels.CommentViewModel
<div onmouseout="CRateSelected()">
    <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
    <span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
    <span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
    <span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
    <span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
</div>


       
        


<div class="d-flex flex-row add-comment-section mt-4 mb-4">
    <input asp-for="Content" class="form-control mr-3" placeholder="Add comment"><button class="btn btn-danger" type="submit" onclick="return SubmitComment()">Prześlij</button>
    <span asp-validation-for="Content" class="text-danger"></span>
    <input asp-for="Rating" type="hidden"  />
    <span asp-validation-for="Rating" class="text-danger"></span>
    <input asp-for="RecipeId" type="hidden" value="@Model.RecipeId">
</div>