@model int
@{
    string uniqueId=($"Step{@Model}");
}

<div id="StepsDiv" class="row pb-3">
    <div class="action-item col-sm-7 target">
        <div class="form-group">
            <input class="form-control text-box single-line EditorForStep" data-val="true" type="text" autocomplete="off" id=@uniqueId name=EditorForStep>
        </div>
    </div>

    <div class="col-sm-1 target">
        @*<a style="visibility:hidden"> Delete :</a>   $2$just to make the button align #2#*@
        <button type="sumbit" id="Btn_DeleteSteps" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i></button>
    </div>
</div>